:host {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  background-color: coral;

  .settings {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


}
